<a href="https://colab.research.google.com/github/MohitBhatt7/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Core Data Structure.

In [5]:
import pandas as pd
df = pd.Series(["Name", "Alice", "Mark", "Terrence", "Sabin"], index=["S.N", 1, 2, 3, 4])
print(df)

S.N        Name
1         Alice
2          Mark
3      Terrence
4         Sabin
dtype: object

In [6]:
Data = {
    "Name": ["Mark", "Terrence", "Alice"],
    "Age": [10, 12, 13]

}

DF = pd.DataFrame(Data)
print(DF)

       Name  Age
0      Mark   10
1  Terrence   12
2     Alice   13