<a href="https://colab.research.google.com/github/MohitBhatt7/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Core Data Structure.

In [5]:
import pandas as pd
df = pd.Series(["Name", "Alice", "Mark", "Terrence", "Sabin"], index=["S.N", 1, 2, 3, 4])
print(df)

S.N        Name
1         Alice
2          Mark
3      Terrence
4         Sabin
dtype: object

In [6]:
Data = {
    "Name": ["Mark", "Terrence", "Alice"],
    "Age": [10, 12, 13]

}

DF = pd.DataFrame(Data)
print(DF)

       Name  Age
0      Mark   10
1  Terrence   12
2     Alice   13

In [8]:
import pandas as pd
DF = pd.read_csv("/content/abc.csv")
print(DF)

  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23